<div class="container pt-4">
    <div class="text-center">
        <h1>
            Welcome to Angular Blog With SSR
        </h1>
        <img width="27%" alt="Angular Logo" src="/assets/angular.png">
        <span class="plus">+</span>
        <img alt="Universal Logo" src="/assets/1_2jJXym7IGznjTjxnumJQvA.png" width="20%">
    </div>
    <h4 class="pt-4">Here are some links to help you start </h4>
    <ul>
        <li>
            <h5><a [routerLink]="['list']">Data listing page</a></h5>
        </li>
        <li>
            <h5><a [routerLink]="['add']">Add a record</a></h5>
        </li>
    </ul>
</div>